[Desktop Entry]
Type=Application
Name=Install ArcoLinuxD
Comment=Installer for ArcoLinuxD
Categories=Utility;
Exec=pkexec --disable-internal-agent /usr/bin/calamares
Icon=arco-calamares
