[Desktop Entry]
Type=Application
Name=Install ArcoLinuxD
Comment=Installer for ArcoLinuxD
Categories=Utility;
Exec=env QT_QPA_PLATFORMTHEME=Arc pkexec calamares
Icon=arco-calamares
